*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tela-jogo{
    width: 100;
    height: 100vh;
    margin: 0 auto;
    border-bottom: 5px solid green;
    position: relative;
    overflow: hidden;
}

.cenario{
    position: flex;
    width: 100%;
    height: 100vh;
    background: url(/img/background-florest.jpg) repeat-x;
    background-size: cover;
    animation: movimento-cenario-frame 10s linear infinite;

}

/*.movimento-cenario{
    display: flex;
    width: calc(200%);
    animation: movimento-cenario-frame 10s linear infinite;
}
*/

/*
#cenario{
    width: calc(200%);
    height: 100%;
    display: flex;
    position: absolute;
    animation: movimento-cenario-frame 10s linear infinite;
}
*/


#mario{
    width: 100px;
    position: absolute;
    bottom: 0;
}

#cano{
    width: 50px;
    position: absolute;
    bottom: 0;
    animation: movimento 2s linear infinite;
    
}


@keyframes movimento{
    from{
        right: -500px;    
    } 
    to {
        right: 100%;
    }
}

@keyframes movimento-cenario-frame{
    from{
        background-position: 0 0;
       /* transform: translateX(0);*/    
    } 
    to {
        background-position: 100% 0;
       /* transform: translateX(-50%); */
    }
}