*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
                                                
}

@font-face {
    font-family: "fonteMinecraft";
    src: url(/fonts/minecraft-3-cdnfonts/2_MinecraftItalic1.otf) format('opentype');
}

body{
    height: 100vh;
    font-family: 'fonteMinecraft', Arial, sans-serif;

    background: rgb(120, 198, 235);
	background: linear-gradient(180deg,
	rgb(120, 198, 235)5%,
	rgb(178, 242, 255)100%);
}

header{
    display: flex;
    margin: 3;
    flex-wrap: wrap;
    flex: 1 1 100vh;
}



main{
    align-items: center;
    text-align: center;
    
}

h1{
    text-align: center;
    color: white;
}
